<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     <link rel="stylesheet" href="/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:wght@300;400;500;600;700&family=Shizuru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo2.png" width="100px" height="100px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/all">Products</a></li>
                        <li><a href="#footer">About</a></li>
                        <li><a href="#footer">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>ATN</h1>
                    <p>We bring you the best games for all of the platform you play on!</p>
                    <a href="/all" class="btn">Explore Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>


  
<!--testimonial--->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-lef"></i>
                    <p>"The games I bought from this site totally wrecked my PC from the amount of virus that it came with."</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="/images/user-1.png">
                    <h3>Hellen McGregor</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-lef"></i>
                    <p>"Due to the number of viruses that the games I purchased from this website had, they completely destroyed my PC.".</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="/images/user-2.png">
                    <h3>Sean Parker</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-lef"></i>
                    <p>"The quantity of malware that arrived with the games I purchased from this store completely destroyed my PC.".</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="/images/user-3.png">
                    <h3>Pepe Pig</h3>
                </div>
            </div>
        </div>
    </div>

    <!--models--->
    <div class="models">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="/images/logo-godrej.png">
                </div>
                <div class="col-5">
                    <img src="/images/logo-oppo.png">
                </div>
                <div class="col-5">
                    <img src="/images/logo-coca-cola.png">
                </div>
                <div class="col-5">
                    <img src="/images/logo-paypal.png">
                </div>
                <div class="col-5">
                    <img src="/images/logo-philips.png">
                </div>
            </div>
        </div>
    </div>
</body>
    <!--footer-->
    
    <div class="footer" id="footer">
        <hr>
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="/images/play-store.png">
                        <img src="/images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <h3>Hot Lines</h3>
                    <ul>
                        <li>Technical Support: 9999 9999</li>
                        <li>Call To Order: 1234 5678 </li>
                        <li>Delivery Support: 1000 1000</li>
                        <li>Feedback: 4949 2202</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Services</h3>
                    <ul>
                        <li>Opening Hours</li>
                        <li>Delivery Policy</li>
                        <li>Return Policy</li>
                        <li>Payment Policy</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">This Is A School Project - Greenwich VN - GCH1003 - by Tran Anh</p>
        </div>
    </div>
    
